gradio>=4.0.0
transformers @ git+https://github.com/huggingface/transformers@2829013d2d00e63d75a1f6f7a3f003bc60cc69af
torch==2.4.0
accelerate==1.4.0
pydicom>=2.4.0
Pillow>=10.0.0
numpy>=1.24.0,<2.0
python-dotenv>=1.0.0
scipy
